label,
input {
  display: block;
}

.container {
  display: flex;
}

.container {
  gap: 50px;
}
.left-side {
  width: 50vw;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.right-side {
  justify-content: center;
  align-items: center;
  width: 50%;
}
